html body {
    text-align: center;
    height: 100%;
}

nav {
    text-align: right;
    padding: 3em 1.5em 3em 3em;
}



#signin {
    background: #2b7de9;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 16px;
    margin-left: 10px;
    margin-right: 8px;
    min-width: 96px;
    padding: 9px 23px;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    color: #F2F2F2;
}

a {
    padding: 0 0.4em 0 0.4em;
    text-decoration: none;
}


#search-box {
    height: 44px;
    width: 482px;
    border-radius: 24px;
    border-style: 1px solid;
}

.search-area {
    margin: 1.0em 0.5em 1.0em 0.5em;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.search-area:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f9f9fa;
    border: 1px solid #dadce0;
    color: #202124
}

footer {
    background-color: #F2F2F2;
    position: absolute;
    bottom: 0;
    width: 100%;}

#footer-left {
    float: left;
    padding-left: 1.5em;
    padding-top: 1em;
}

#footer-right {
    float: right;
    padding-right: 1.5em;
    padding-top: 1em;
}

